<script>
import { authComputed } from '@state/helpers'

export default {
  data() {
    return {
      persistentNavRoutes: [
        {
          name: 'home',
          title: 'Home',
        },
      ],
      loggedInNavRoutes: [
        {
          name: 'profile',
          title: () => 'Logged in as ' + this.currentUser.name,
        },
        {
          name: 'dashboard',
          title: 'Dashboard',
        },
        {
          name: 'buySell',
          title: 'Buy & Sell',
        },
        {
          name: 'logout',
          title: 'Log out',
        },
      ],
      loggedOutNavRoutes: [
        {
          name: 'login',
          title: 'Log in',
        },
        {
          name: 'signin',
          title: 'signin',
        },
      ],
    }
  },
  computed: {
    ...authComputed,
  },
}
</script>

<template>
  <v-toolbar prominent app>
    <v-toolbar-title>Block Track Me</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-btn
        v-for="persistentNavRoute in persistentNavRoutes"
        :key="persistentNavRoute.name"
        :to="{ name: persistentNavRoute.name }"
        exact
        flat
      >
        {{ persistentNavRoute.title }}
      </v-btn>
    </v-toolbar-items>
    <v-toolbar-items v-if="loggedIn" class="hidden-sm-and-down">
      <v-btn
        v-for="loggedInNavRoute in loggedInNavRoutes"
        :key="loggedInNavRoute.name"
        :to="{ name: loggedInNavRoute.name }"
        exact
        flat
      >
        {{
          loggedInNavRoute.name === 'profile'
            ? loggedInNavRoute.title()
            : loggedInNavRoute.title
        }}
      </v-btn>
    </v-toolbar-items>
    <v-toolbar-items v-else class="hidden-sm-and-down">
      <v-btn
        v-for="loggedOutNavRoute in loggedOutNavRoutes"
        :key="loggedOutNavRoute.name"
        :to="{ name: loggedOutNavRoute.name }"
        exact
        flat
      >
        {{ loggedOutNavRoute.title }}
      </v-btn>
    </v-toolbar-items>
  </v-toolbar>
</template>

<style lang="scss" module>
@import '@design';
</style>
