<script>
import PieChart from '@components/ChartsStatistics-extend/PieChart'
import LineChart from '@components/ChartsStatistics-extend/LineChart'
import BarChart from '@components/ChartsStatistics-extend/BarChart'
import Axios from 'axios'
import { authComputed } from '@state/helpers'

export default {
  name: 'PerformanceStats',
  components: {
    PieChart,
    LineChart,
    BarChart,
  },
  data() {
    return {
      api_url:       process.env.NODE_ENV === 'development'
        ? 'http://localhost:3333/'
        : 'http://frontApp:3000/',
      coinbaseApi: 'https://api.coinbase.com/v2/prices/',
      
      loaded: false,
      Piedata: null,
      Bardata: null,
      Linedata: null,
      userShare: 10,
      userId: null,
      value11: null,

      cpRequest: {
        ifcp: null,
        cp1:{
          name: "BTC-USD",
          value: null,
        },
        cp2: {
          name: "ETH-USD",
          value: null,
        },
        cp3: { 
          name: "XRP-USD",
          value: null, 
          graphvalue: null,       
        },
      },
      fundData: {
        fundId: null,
        name: 'beforeMount',
        share_owned: null,
        share1: 'beforeMount',
        share2: 'beforeMount',
        share3: 'beforeMount',
        assetVol1: 'beforeMount', 
        assetVol2: 'beforeMount',
        assetVol3: 'beforeMount',
      },
      barOptions: {
					responsive: true,
          scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }],
          }
      },
      pieOptions: {
          responsive: true,
					title: {
						display: true,
						text: 'Repartition des assets du fond'
					},
      },
      lineOptions: {
          responsive: true,
					title: {
						display: true,
						text: 'valeur du fond'
					},
      },
    }
  },

computed: {
    ...authComputed,
  },
  
 async beforeMount() {
    this.loaded = false
    try {        
      await Axios.get(this.api_url + 'fund/').then((response) => {
        var shareName = response.data.share_type.split("/")
        var fundComp = response.data.share_per_type.split("/")
        this.fundData.fundId = response.data.fund_id
        this.fundData.name = response.data.name
        this.fundData.share_owned = response.data.share_owned
        this.fundData.share1 = shareName[0]
        this.fundData.share2 = shareName[1]
        this.fundData.share3 = shareName[2]
        this.fundData.assetVol1 = fundComp[0]
        this.fundData.assetVol2 = fundComp[1]
        this.fundData.assetVol3 = fundComp[2]
        
        this.Piedata = {
          labels: [this.fundData.share1, this.fundData.share2, this.fundData.share3],
          datasets: [
            {
              label:this.fundData.fundId,
              data: [this.fundData.assetVol1, this.fundData.assetVol2, this.fundData.assetVol3],
              backgroundColor: ['#1e3799', '#60a3bc', '#78e08f'],
            },
          ],
        }
        this.Linedata = {
          labels: [
          'Jan',
          'Feb',
          'Mar',
          'Apr',
          'May',
          'Jun',
          'Jul',
          'Aug',
          'Sep',
          'Oct',
          'Nov',
          'Dec',
        ],
          datasets: [
          {
            label: this.fundData.name,
            data: [0, 5, 12, 8, 24, 35, 22, 38, 22, 38, 22, 38],
            borderColor: '#60a3bc',
            backgroundColor: ['#60a3bc'],
            fill: false,
          },
          ],
        }
      })

      await Axios.get(this.coinbaseApi  + 'BTC-USD/sell').then((response) => {
          this.cpRequest.cp1.value = response.data.data.amount
      })
      await Axios.get(this.coinbaseApi  + 'ETH-USD/sell').then((response2) => {
          this.cpRequest.cp2.value = response2.data.data.amount
      })
      await Axios.get(this.coinbaseApi  + 'XRP-USD/sell').then((response3) => {
          this.cpRequest.cp3.value = response3.data.data.amount
          this.cpRequest.cp3.graphvalue = response3.data.data.amount 

      })

      this.Bardata = {
          labels: ['Coin value'],
          datasets: [
          {
            label: [this.fundData.share1],
            data: [this.cpRequest.cp1.value],
            backgroundColor: ['#60a3bc'],
            fill: false,
          },
          {
            label: [this.fundData.share2],
            data: [this.cpRequest.cp2.value],
            backgroundColor: ['#1e3799'],
            fill: false,
          }, 
          {
            label: [this.fundData.share3],
            data: [this.cpRequest.cp3.graphvalue],
            backgroundColor: ['#78e08f'],
            fill: false,
          },        
        ],
      }

      this.loaded = true
     
    } catch (e) {
      console.error(e)
    }

  },

}
</script>

<template>
  <div id="app">
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs4>
          <v-card>
            <PieChart v-if="loaded" :chartdata="Piedata" :options="pieOptions"></PieChart>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card>
           <LineChart v-if="loaded" :chartdata="Linedata" :options="lineOptions"></LineChart>
          </v-card>
        </v-flex>
        <v-flex xs4>
          <v-card>
            <BarChart v-if="loaded" :chartdata="Bardata" :options="barOptions"></BarChart>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<style lang="scss" module>
@import '@design';
</style>
