<script>
import PieChart from '@components/ChartsStatistics-extend/PieChart'
import Axios from 'axios'
import { authComputed } from '@state/helpers'

export default {
  name: 'ShareExchangeComponent',
  page: {
    title: 'Share-exchange',
    meta: [{ name: 'share exchange component' }],
  },
  components: {
    PieChart,
  },
  data() {
    return {
      api_url:
        process.env.NODE_ENV === 'development'
          ? 'http://localhost:3333/'
          : 'http://api:3000/',
      loaded: false,
      chartdata: null,
      step: 0,
      userShare: 10,
      isBuying: false,
      buyingOutput: '',
      sliderShare: 0,
      fund: {
        name: 'beforeMount',
        share_owned: null,
      },
      transaction: {
        tx_type: 'SHARE',
        owner_id: null,
        target: null,
        from_addr: null,
        fiat: null,
        token: null,
        share: null,
      },
    }
  },
  computed: {
    ...authComputed,
    selectedToken() {
      return this.isBuying === true
        ? this.sliderShare * -100
        : this.sliderShare * 100
    },
    selectedShare() {
      return this.isBuying === true ? this.sliderShare : this.sliderShare * -1
    },
    otherShare() {
      return 0
    },
  },
  async beforeMount() {
    this.loaded = false
    try {
      await Axios.get(this.api_url + 'transaction').then((response) => {
        let result = 0
        response.data.forEach(function(element) {
          result += element.share
        })
        this.userShare = result
      })
    } catch (e) {
      console.error(e)
    }
    try {
      await Axios.get(this.api_url + 'fund/').then((response) => {
        this.fund.name = response.data.name
        this.fund.share_owned = response.data.share_owned
        this.chartdata = {
          labels: [this.currentUser.name, this.fund.name, 'Other Shares'],
          datasets: [
            {
              data: [
                this.userShare,
                this.fund.share_owned,
                100 - (this.userShare + this.fund.share_owned),
              ],
              backgroundColor: ['blue', 'green', 'grey'],
            },
          ],
        }
      })
      this.loaded = true
    } catch (e) {
      console.error(e)
    }
  },
  methods: {
    updateIsBuyingAndGoNextStep(bool) {
      this.isBuying = bool
      this.step = 2
      this.buyingOutput = this.isBuying === true ? 'Buy' : 'Sell'
    },
    submit() {
      this.transaction = {
        tx_type: 'SHARE',
        owner_id: this.currentUser.id,
        token:
          this.isBuying === true
            ? this.sliderShare * -100
            : this.sliderShare * 100,
        share:
          this.isBuying === true ? this.sliderShare : this.sliderShare * -1,
      }
      try {
        Axios.post(
          this.api_url + 'transaction/',
          JSON.stringify(this.transaction),
          {
            headers: {
              'Content-Type': 'application/json',
            },
          }
        )
      } catch (e) {
        console.error(e)
      }
      this.fund = {
        name: this.fund.name,
        share_owned:
          this.isBuying === true
            ? this.fund.share_owned - this.transaction.share
            : this.fund.share_owned - this.transaction.share,
      }
      try {
        Axios.put(this.api_url + 'fund/', JSON.stringify(this.fund), {
          headers: {
            'Content-Type': 'application/json',
          },
        })
        this.step = 1
      } catch (e) {
        console.error(e)
      }
    },
  },
}
</script>

<template>
  <form>
    <v-container>
      <v-stepper v-model="step">
        <v-stepper-header>
          <v-stepper-step :complete="step > 1" step="1"
            >Buy/Sell</v-stepper-step
          >
          <v-divider></v-divider>
          <v-stepper-step :complete="step > 2" step="2">Amount</v-stepper-step>
          <v-divider></v-divider>
          <v-stepper-step step="3">Preview</v-stepper-step>
        </v-stepper-header>
        <v-flex xs12 sm6 offset-sm3>
          <PieChart v-if="loaded" :chartdata="chartdata" />
        </v-flex>
        <v-stepper-items>
          <v-stepper-content step="1">
            <v-container text-xs-center>
              <v-flex>
                <v-btn
                  color="yellow"
                  @click="updateIsBuyingAndGoNextStep(true)"
                >
                  Buy
                </v-btn>
                <v-btn
                  color="purple"
                  @click="updateIsBuyingAndGoNextStep(false)"
                >
                  Sell
                </v-btn>
                <v-btn flat>Cancel</v-btn>
              </v-flex>
            </v-container>
          </v-stepper-content>

          <v-stepper-content step="2">
            <v-container text-xs-center>
              <v-flex>
                <v-text-field
                  v-model="buyingOutput"
                  box
                  label="action"
                  readonly
                ></v-text-field>
                <v-text-field
                  v-model="sliderShare"
                  box
                  readonly
                  type="number"
                  label="Amount of share"
                ></v-text-field>
                <v-slider
                  v-model="sliderShare"
                  thumb-label="always"
                  :max="isBuying === true ? fund.share_owned : userShare"
                ></v-slider>
              </v-flex>
              <v-btn color="primary" @click="step = 3">
                Continue
              </v-btn>
              <v-btn flat @click="step = 1">Cancel</v-btn>
            </v-container>
          </v-stepper-content>

          <v-stepper-content step="3">
            <v-container text-xs-center>
              <v-flex>
                <v-text-field
                  v-model="buyingOutput"
                  box
                  readonly
                  label="You are going to"
                ></v-text-field>
                <v-text-field
                  v-model="selectedShare"
                  box
                  readonly
                  label="These shares"
                ></v-text-field>
                <v-text-field
                  v-model="selectedToken"
                  box
                  readonly
                  label="For this amount of token"
                ></v-text-field>
                <v-btn color="success" @click="submit">
                  Confirm
                </v-btn>
                <v-btn flat @click="step = 1">Cancel</v-btn>
              </v-flex>
            </v-container>
          </v-stepper-content>
        </v-stepper-items>
      </v-stepper>
    </v-container>
  </form>
</template>

<style lang="scss" module>
@import '@design';
</style>
