<script>
import Layout from '@layouts/main'
import BuyToken from '@components/buy-token'
import ShareExchange from '@components/share-exchange'

export default {
  metaInfo: {
    title: 'buySell',
    meta: [{ name: 'description', content: 'BuySell' }],
  },
  components: { Layout, BuyToken, ShareExchange },
  data: function() {
    return {
      switcher: false,
    }
  },
  methods: {},
}
</script>

<template>
  <div>
    <Layout />
    <v-flex xs8 offset-xs2>
      <div>
        <v-btn depressed large color="primary" @click="switcher = false"
          >Buy token</v-btn
        >
        <v-btn depressed large color="primary" @click="switcher = true"
          >Share Exchange</v-btn
        >
      </div>
      <div v-if="switcher === false">
        <BuyToken />
      </div>
      <div v-if="switcher === true">
        <ShareExchange />
      </div>
    </v-flex>
  </div>
</template>

<style lang="scss" module>
@import '@design';
</style>
