<script>
import Layout from '@layouts/main'
import { authMethods } from '@state/helpers'
import axios from 'axios'

export default {
  page() {
    return {
      title: this.user.name,
      meta: [
        {
          name: 'description',
          content: `The user profile for ${this.user.name}.`,
        },
      ],
    }
  },
  components: { Layout },
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      switcherInfos: false,
      username: '',
      usermail: '',
      api_url:
        process.env.NODE_ENV === 'development'
          ? 'http://localhost:3333/'
          : 'http://api:3000/',
      alert: '',
      alertmsg: '',
      dialogDelete: false,
    }
  },
  methods: {
    ...authMethods,
    enableModifier() {
      console.log('enable modifier', this.switcherInfos)
      if (this.switcherInfos) {
        this.switcherInfos = false
      } else {
        this.switcherInfos = true
      }
    },
    async applyModifier() {
      this.switcherInfos = false
      const modifier = await axios
        .put(
          this.api_url + 'user/',
          JSON.stringify({
            username: this.username,
            email: this.usermail,
            id: this.user.id,
          }),
          {
            headers: {
              'Content-Type': 'application/json',
            },
          }
        )
        .then((response) => {
          return response
        })
        .catch((error) => {
          console.log(error)
          return false
        })
      if (modifier.status === 200) {
        this.updateUser({ name: this.username, email: this.usermail })
        this.alert = 'success'
        this.alertmsg = 'Information up to date'
      } else {
        this.alert = 'error'
        this.alertmsg = 'Error during updating information'
      }
    },
    async deleteAccount() {
      const deleteAccount = await axios
        .delete(
          this.api_url + 'user/',
          {
            data: {
              id: this.user.id,
            },
          },
          {
            headers: {
              'Content-Type': 'application/json',
            },
          }
        )
        .then((response) => {
          return response
        })
        .catch((error) => {
          console.log(error)
          return false
        })
      if (deleteAccount.status === 200) {
        this.alert = 'success'
        this.alertmsg = 'Account deleted'
        setTimeout(this.logOut(), 5000)
      } else {
        console.log('errrrorr delete acccount')
        this.dialogDelete = false
        this.alert = 'error'
        this.alertmsg = 'Error during account delete'
      }
    },
  },
}
</script>
<template>
  <Layout>
    <h1>
      {{ user.name }}
      Profile
    </h1>
    <div id="userProfileAlert">
      <v-alert
        v-if="alert === 'success'"
        :value="true"
        type="success"
        icon="check_circle"
        outline
        dismissible
      >
        {{ alertmsg }} </v-alert
      ><v-alert
        v-if="alert === 'error'"
        :value="true"
        type="error"
        icon="check_circle"
        outline
        dismissible
      >
        {{ alertmsg }}
      </v-alert>
    </div>
    <div id="usercard">
      <div id="protected-txt">
        <p v-if="switcherInfos === false"> Username : {{ user.name }} </p>
        <p v-else
          >Username : ( {{ user.name }} )
          <v-text-field
            v-model="username"
            label="New Username"
            required
          ></v-text-field
        ></p>
        <p v-if="switcherInfos === false"> Email : {{ user.email }} </p>
        <p v-else
          >Email : ( {{ user.email }})
          <v-text-field
            v-model="usermail"
            label="New email"
            required
          ></v-text-field
        ></p>
      </div>
      <v-btn v-if="switcherInfos === false" color="info" @click="enableModifier"
        >Modifier</v-btn
      >
      <v-btn v-else color="warning" @click="applyModifier">Appliquer</v-btn>
      <v-btn color="error" dark @click.stop="dialogDelete = true">
        Delete Account
      </v-btn>
      <v-dialog v-model="dialogDelete" max-width="290">
        <v-card>
          <v-card-title class="headline">Delete my account?</v-card-title>

          <v-card-text>
            Your account will be remove permanently.
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              color="green darken-1"
              flat="flat"
              @click="dialogDelete = false"
            >
              Disagree
            </v-btn>

            <v-btn color="green darken-1" flat="flat" @click="deleteAccount">
              Agree
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </div>
  </Layout>
</template>
