<script>
import NavBar from '@components/nav-bar'

export default {
  components: { NavBar },
}
</script>

<template>
  <div>
    <NavBar />
    <v-content>
      <v-container fluid>
        <slot />
      </v-container>
    </v-content>
    <v-footer app></v-footer>
  </div>
</template>

<style lang="scss" module>
@import '@design';
</style>
